.env
.vscode/settings.json
db_data/
api_data/
minio_data/
*.pyc
api_gen
firebase-debug.log
ui-debug.log
.config/configstore/firebase-tools.json
.config/configstore/update-notifier-firebase-tools.json
